<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Enter your task</H1>
   
    <form method="post">
        <label>title</label>
        <input type="text" name="title" placeholder="todo title"require>
        <label>Description</label>
        <input title="text" name="description" placeholder="Enter Description" request>
        <button>Add New</button>

    </form>
    <a href="{{ url_for('view')}}">View my list</a>
 <p> designe by atidi-ngoma</p>
</body>
</html>